template(id='question'):
  .question
    .questionText= text
    .answers
        - if (answers)
          - each answer, i in answers
            a.no.multiple(data-next= answer.next, data-type= type, data-value= i)= answer.text
        - else
          a.no(data-type= type, data-value="no", data-product= product)= no
          a.yes(data-type= type, data-value="yes", data-product= product)= yes
  
  
template(id='product'):
  .productContent
    - if (brandName.charAt(0) == 'A')
      article = 'an'
    - else
      article = 'a'
    - if (!recipientType)
      phrase = 'They would love ' + article + ' '
    - else
      phrase = 'Your ' + recipientType + ' would love ' + article + ' '
    .questionText
       span.phrase= phrase
       span.productName #{brandName} #{productName}.
    .answers
      a.no.zift(data-type= 'question') Meh.
      a.yes.zift(href= affiliate, title= brandName + ' ' + productName, data-type= 'product', target="_blank") Zift it!
    .price= price + ' + free shipping'
    .sharing
      a#emailProduct(href="#", data-type="modal") [Email This]
      a#tweetProduct(href="#", data-type="tweet", target="_blank") [Tweet This]
        
23ecd410e0faa0fc510130557d22c8ea2592763c
template(id='video'):
  .video-js-box.vim-css
    video(id='video-' + productId, controls, width= '550', height= '306')
      source(src=mp4, type='video/mp4')
      - if (swf)
        object(data=swf, type='application/x-shockwave-flash', width= '640', height= '360')
          param(value=swf, name='movie')
          - if (imageSrc)
            param(value='autostart=true&amp;controlbar=over&amp;image=' + imageSrc + '&amp;file=\'' + mp4 + '\'')
          - else
            param(value='autostart=true&amp;controlbar=over&amp;file=\'' + mp4 + '\'')

template(id='image'):
  .productImage
    img(src= imageSrc, alt= brandName + ' ' + productName)

